<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    course      
      
  <table class="table">
          
 
    
      {% for i in obj %}
      <td><p>{{i.photo}}</p></td>

      <td><p>{{i.name}}</p></td>
      <td><p>{{i.slot}}</p></td>
      <td><p>{{i.date}}</p></td>  
      <td><p>{{i.seats_available}}</p></td>
      
              
    </tr> 

    <!--comment!!-->
    {% endfor %}  
    

  </table>            
    
</body>
</html>