<html>
    <head>
        <title >TABLE</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
              <div class="navbar-nav">
                <table>
                    <td><a class="nav-item nav-link " href="menucard.html">Home</a></td>
                    <td>  <a class="nav-item nav-link " href="table.html">table</a></td>
                    <td><a class="nav-item nav-link " href="forms.html">FORMS</a></td>
                    
                </table>   
                            
            
              </div>        
          </nav>c
    </head>
    <BODY id="main" >
        <style>
            #main{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                border: 10px solid black;
                background:linear-gradient(240deg,rgba(211, 76, 184, 0.753),rgb(224, 61, 61));
                display: flex;
                flex-flow: column;
                align-items: center;              
                margin-left:250px;
                margin-top:100px;
                margin-right:120px;
                margin-bottom: 120px;
                

            }

                   
            #th {
                color: white;
            }
            
                                      

        </style>
        <p><strong>TABLE</strong></p>
        <table border="3px"  bordercolor="white">
            <caption style="background-color: orange;"><strong>STOCK MARKET</strong></caption>
            
            
           
            <tr style="background-color: green;" >
                             
                <Th id="th">52W high</Th>
                <th id="th">52w low</th>
                <th id="th">stock</th>
                <th id="th">Ticker</th>
                <th id="th" >DiV</th>
                <th id="th" >YIELD %</th>
                <th id="th" >P/E</th>
                <th id="th" >vol 00s</th>
                <th id="th" >High</th>
                <th id="th" >low</th>
                <th id="th" >close</th>
                <th id="th" >Net chg</th>
                
                

                </div>
                
            </tr>
            <tr>
                <td>s45.39</td>
                <td>19.7</td>
                <td>ResMed</td>
                <td colspan="3">RMD</td>
                <td>52.5</td>
                <td>3831</td>
                <td>42.00</td>
                <td>39.51</td>
                <td>41.50</td>
                <td>-1.90</td>
            </tr>
            <tr>
                <td>11.63</td>
                <td>3.55</td>
                <td>Revlon A</td>
                <td colspan="4">REV</td>
                <td>162</td>
                <td>6.09</td>
                <td>5.90</td>
                <td>6.09</td>
                <td>+0.12</td>
             </tr>
             <tr>
                <td>77.25</td>
                <td>55.13</td>
                <td>RioTinto</td>
                <td >RTP</td>
                <td>2.30</td>
                <td colspan="2">3.2</td>
                <td>168</td>
                <td>72.75</td>
                <td>71.84</td>
                <td>72.74</td>
                <td>+0.03</td>
             </tr>
             <tr>
                <td>31.31</td>
                <td>16.63</td>
                <td>RitchieBr</td>
                <td colspan="3">RBA</td>
                <td >20.9</td>
                <td >15</td>
                <td>24.49</td>
                <td>24.29</td>
                <td>24.49</td>
                <td>-0.01</td>
             </tr>
             <tr>
                <td>8.44</td>
                <td>1.75</td>
                <td>RiteAlD</td>
                <td colspan="4">RAD</td>
                <td >31028</td>
                <td >4.50</td>
                <td>4.20</td>
                <td>4.31</td>
                <td>+0.21</td>                
             </tr>
             <tr>
                <td>s38.63</td>
                <td>18.81</td>
                <td>RobHalf</td>
                <td colspan="3">RHI</td>
                <td >26.5</td>
                <td >6517</td>
                <td>27.15</td>
                <td>26.50</td>
                <td>26.50</td>
                <td>+0.14</td>                                
             </tr>
             <tr>
                <td>51.25</td>
                <td>27.69</td>
                <td>RoCKWell</td>
                <td >ROK</td>
                <td >1.02</td>
                <td >2.1</td>
                <td>14.5</td>
                <td>6412</td>
                <td>47.99</td>
                <td>47.00</td>
                <td>47.54</td> 
                <td>+0.24</td>                               
             </tr>
        </table>
    </BODY>
</html>